name: Build Helm Charts

on:
  push:
    branches: [main]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: depot-ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    env:
      GAR_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_PROD }}
      GAR_LOCATION: ${{ secrets.GAR_LOCATION }}
      CHARTS_REPOSITORY: testkube
    steps:
      - uses: actions/checkout@v3
      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          project_id: ${{ env.GAR_PROJECT_ID }}
          credentials_json: ${{ secrets.GKE_SA_KEY_PROD }} #Key to SA in Testkube Prod project
      - name: Configure Docker for GAR
        run: gcloud auth configure-docker ${{ env.GAR_LOCATION }}-docker.pkg.dev -q
      - id: helm-publish
        name: Publish Helm Chart
        run: |
          for chart in minio mongodb; do
            echo "Generating $chart helm binary"
            helm package $chart/helm
            echo "Publishing $chart helm binary"
            helm push \
              $(ls -A | grep -e "^$chart.*tgz$") \
              oci://${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GAR_PROJECT_ID }}/${{ env.CHARTS_REPOSITORY }}
          done;
