name: Build Images

on:
  push:
    branches: [main, fix/pipelines]
    tags:
      - '*'

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: depot-ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    env:
      GAR_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_PROD }}
      GAR_LOCATION:   ${{ secrets.GAR_LOCATION }}
      GAR_REPOSITORY: testkube
    steps:
      - uses: actions/checkout@v3
      - uses: depot/setup-action@v1
      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          project_id: ${{ env.GAR_PROJECT_ID }}
          credentials_json: ${{ secrets.GKE_SA_KEY_PROD }} #Key to SA in Testkube Prod project
      - name: Configure Docker for GAR
        run: gcloud auth configure-docker ${{ env.GAR_LOCATION }}-docker.pkg.dev -q
      - id: target
        run: |
          if [[ "${{ github.ref_type }}" == "tag" && "${{ github.ref_name }}" == minio* ]]; then
            echo "target=minio" >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.ref_type }}" == "tag" && "${{ github.ref_name }}" == mongodb* ]]; then
            echo "target=mongodb" >> "$GITHUB_OUTPUT"
          else
            echo "target=default" >> "$GITHUB_OUTPUT"
          fi
      - name: Remove prefix from tag
        id: prefix
        run: |
          ref='${{ github.ref_name }}'
          case "$ref" in
            minio-*)   echo "tag=${ref#minio-}"   >>"$GITHUB_OUTPUT" ;;
            mongodb-*) echo "tag=${ref#mongodb-}" >>"$GITHUB_OUTPUT" ;;
            *)         echo "tag=$ref" >>"$GITHUB_OUTPUT" ;;
          esac
      - name: Create Docker tags and metadata for Minio
        if: github.ref_type == 'branch' || (github.ref_type == 'tag' && startsWith(github.ref_name, 'minio'))
        id: minio
        uses: docker/metadata-action@v5
        with:
          bake-target: 'minio'
          images: |
            ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GAR_PROJECT_ID }}/${{ env.GAR_REPOSITORY }}/minio
          tags: |
            type=raw,value=${{ steps.prefix.outputs.tag }}
            type=semver,pattern={{version}}
      - name: Create Docker tags and metadata for MongoDB
        if: github.ref_type == 'branch' || (github.ref_type == 'tag' && startsWith(github.ref_name, 'mongodb'))
        id: mongodb
        uses: docker/metadata-action@v5
        with:
          bake-target: 'mongodb'
          images: |
            ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GAR_PROJECT_ID }}/${{ env.GAR_REPOSITORY }}/mongodb
          tags: |
            type=raw,value=${{ steps.prefix.outputs.tag }}
            type=semver,pattern={{version}}
      - name: Build image
        uses: depot/bake-action@v1.12.1
        with:
          project: ${{ secrets.DEPOT_PROJECT_ID }}
          targets: ${{ steps.target.outputs.target }}
          files: |
            ./docker-bake.hcl
            ${{ steps.minio.outputs.bake-file }}
            ${{ steps.mongodb.outputs.bake-file }}
          push: true
