name: Checks before merging

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: depot/setup-action@v1
      - name: Build image
        uses: depot/bake-action@v1.12.1
        with:
          project: ${{ secrets.DEPOT_PROJECT_ID }}
          files: |
            ./docker-bake.hcl
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Lint helm charts
        run: |
          for chart in minio mongodb; do
            echo "Building dependencies of $chart helm chart"
            helm dependency build $chart/helm
            echo "Linting $chart helm chart"
            helm lint $chart/helm
          done;


